/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --text-color:#fff;
    --backgound-color:#262626;
}

*{
    font-family: "Poppins",sans-serif;
    margin:0;
    padding:0;
    /* overflow: auto; */
    box-sizing: border-box;
}
body{
    width: 90vw;
    margin: 0 auto;
    background-color: #aaa;
}
/* container dua */
.container-dua{
    display: flex;
    flex-direction: column ;
    text-align: center;
    gap: 10px;
}
.wrapper{
    margin:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper .image{
    flex:1;
}
.wrapper .text{
    flex:1;
    text-align: left;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: normal;
}
button{
    color: var(--text-color);
    background-color: var(--backgound-color);
    /* padding: 20px 40px; */
    border-radius: 20px;
    border: unset;
    width:100px;
    margin:1opx;
    float: left; 
}

.wrapper-wrapper{
    display: flex;
    width: 500px;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    margin:auto;
    gap:10px;
}
.wrapper .image img{
    border-radius: 20px;
    width: clamp(100px,200px,400px);
    height: fit-content;
    box-shadow: 2px 2px 5px 1px #262626;
    border:1px solid black;
    /* position: absolute; */
}

/* container faq */
.container-faq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px 20px;
    /* height: 500px; */
    gap: 90px;
}
.container-faq .menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-faq h1{
    background-color: transparent;
    /* width: 421px; */
    height: 45px;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    /* border: 2px solid black; */
}
.container-faq .faq{
    padding-left: 16px 20px ;
}
.menu{
    font-size: 20px;
    font-weight:400;
    float: inline-end;
}
.main{
    color: black;
    /* background-color: antiquewhite; */
    width: 70%;
    padding: 10px 0;
    padding-left: 10px;
}
span{
    float: right;
}
.content{
    color: gray;
    width: 70%;
    margin-left: 10px;
}
.indent{
    margin-left: 10px;
}
div.container-faq img{
    border-radius: 20px;
    width: 466px;
    /* height:auto ; */
    background-color: #262626;
    /* margin-right: 12px; */
}

/* pop up */
.pop-up{
    display:flex;
    flex-direction: row;
    background-color: var(--backgound-color);
    padding:27px 50px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
}
.pop-up, h1, p{
    color:var(--text-color);
}
.pop-up h1{
    font-weight: 600;
}
.pop-up p{
    font-weight: 300;
}
.button{
    background-color: var(--text-color);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--backgound-color);;
    padding:8px 18px;
    margin: auto 0;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-around;
}
.credits{
    display: flex;
    flex-direction: column;
    gap: 10px 5px;
}
.profile{
    flex: 3;
}
.profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.header{
    flex: 1;
}
.header h1{
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color);
}
.header a{
    text-decoration: none;
    color: var(--text-color);
}
.contact{
    flex: 2;
}
.contact h1{
    font-size: 24px;
}
.contact-logo{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.contact-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
